name: Repository checks

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck on helper scripts
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: './scripts'
